.App {
  margin: 1cm;
  text-align: center;
  background-color: #fff;
}

.articleCard {
  border-style: solid;
  border-color: #187bd1;
  border-radius: 0.5cm;
  background-color: #1e88e5;
  text-align: left;
  padding-left: 1cm;
  padding-right: 1cm;
  overflow: hidden;
  color: white;
}

#articleCardText {
  float: left;
  padding-bottom: 0.5cm;
}

#NcImageCard {
  border-radius: 20%;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 50px;
  float: right;
}

a {
  color: #187bd1;
  text-decoration: none;
}

.ArticleList {
  display: grid;
  grid-gap: 2rem;
  margin-left: 1cm;
  margin-right: 1cm;
}

#articleBody {
  text-align: justify;
  padding: 1cm;
  color: white;
}

#article_details {
  margin-left: 1cm;
  margin-right: 1cm;
  color: white;
}

.commentList {
  display: grid;
  grid-gap: 0.5cm;
  padding: 1cm;
}

.commentCard {
  border-style: solid;
  border-color: #187bd1;
  text-align: left;
  background-color: #1e88e5;
  border-radius: 0.5cm;
  padding: 0.5cm;
}
#commentText {
  float: left;
}

#commentDeleteButton {
  float: right;
  margin-top: 1.2cm;
  margin-right: 1.2cm;
}

#individualLikeButton {
  margin-bottom: 1cm;
}

h5 {
  font-size: 15px;
  color: white;
}
h6 {
  font-size: 15px;
  color: white;
}

.commentError {
  color: red;
}

#NcImage {
  border-radius: 20%;
  height: 40px;
  margin-left: 10px;
  border-style: solid;
  border-color: black;
}

#NcTitle {
  font-size: 50px;
  margin: 0;
  padding: 0;
  display: inline;
}

#sub-title {
  color: #187bd1;
}

#individualArticle {
  border-style: solid;
  border-color: #187bd1;
  border-radius: 0.5cm;
  background-color: #1e88e5;
  margin-left: 1cm;
  margin-right: 1cm;
  color: white;
}

#userChooser {
  margin-left: 8cm;
  margin-right: 8cm;
}
